$black-color: #000;
$white: #fff;
$primary: #3F8CFF;
$mute-color: #666666;
$light-gray-color: #f5f5f5;
$semi-blue-color: #3A6A90;
$brown-color: #5a3e2b;
$highlight-color: #FFA439;
$hover-shadow-color: rgba(0, 0, 0, 0.08);
$border-gray: #ccc;
$dark-bg: #383838;
$breadcrumb-active: #292929;
$review-border: #A3A3A3;
$progress-bg: #e9ecef;
$borderline:1px solid #B8B8B8