.rightSectionParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .rightSectionWrapper {
    margin-top: 32px;
    width: 75%;
    align-self: center;

    .formContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;
      &.hide{
  display: none;
      }
      .mainForm {
        display: flex;
        flex-direction: column;
        gap: 24px;
.personal {
     font-size: 22px;
    font-weight: 700;
}

        .spanstep {
          color: $primary;
          text-transform: capitalize;
        }
      }
    }
  }

}